body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.player-box {
  height: 30%;
  width: 15%;
  font-size: 1.2rem;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
  text-align: center;
  align-self: flex-start;
  /* background-image: linear-gradient(to right, #7a82f7, #788af6, #7892f4, #7a99f1, #7ea0ed, #74abf2, #6db5f6, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1); */
  /* background-image: linear-gradient(45deg,#00dbde,#fc00ff); */
  /* background-image: linear-gradient(to right, #f78c7a, #f88899, #ec8ab6, #d592cf, #b69ce0, #9fa8ee, #84b4f6, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1); */
  color: white;
  border-radius: 15px;
  border: white 2px solid;
  margin: 0 3%;
}

#player-one-box {
  background-image: linear-gradient(45deg,#00dbde,#fc00ff);
}

#player-two-box {
  background-image: linear-gradient(-45deg,#00dbde,#fc00ff);
}

.overall-container {
  display: flex;
  height: 75%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

#flex-container {
  display: flex;
  height: 100%; /* 75% */
  width: 50%; /* 50% */
  justify-content: center;
  align-items: center;
}

#game-container{
  display: flex;
  flex-direction: row;
  height: 100%; /* 85vh */
  width: 100%; /* 950px */
  justify-content: center;
  align-items: center;
}

#game-container > section {
  border-radius: 15px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  width: 15%;
  height: 100%;
}

#game-container > section > div {
  height: 100%;
  width: 79.7%;
  margin: 4px;
  border-radius: 50%;

  background-size: 110%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.red {
  background-color: red;
  background-image: url(images/dogpomeranian.png);
}

.black {
  background-color:black;
  background-image: url(images/dogpug.png);
}

.white {
  background-color: white;
}

.background{
  background-image: url(images/maxresdefault.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

#win-modal {
  width: 100%;
  height: 100vh;
  background-image: url(images/puppy-ultimate-form.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: #F8F8F8;
  position: fixed;
  overflow: hidden;
}

#modal-content {
  display: flex;
  justify-content: center;
}

#message {
  width: fit-content;
  padding: 20px;
  color: black;
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 15px;
  text-align: center;
  position: relative;
  top: 1%;
  font-size: 4rem;
}

#button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 40%;
}

button {
  width: 250px;
  padding: 20px;
  background-color: black;
  border: white;
  color: white;
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 15px;
}

button:hover {
  cursor: pointer;
}

@keyframes glowing {
  0% { box-shadow: 0 0 -10px 7px red; }
  40% { box-shadow: 0 0 20px 7px red; }
  60% { box-shadow: 0 0 20px 7px red; }
  100% { box-shadow: 0 0 -10px 7px red; }
}

.button-glow {
  animation: glowing 3000ms infinite;
}

@keyframes glowing-column {
  0% { box-shadow: 0 0 20px 10px #D16BA5; }
  40% { box-shadow: 0 0 20px 10px #86A8E7; }
  60% { box-shadow: 0 0 20px 10px #5FFBF1; }
  100% { box-shadow: 0 0 20px 10px lime; }
}

.column-glow {
  animation: glowing-column 3000ms infinite;
}

.hidden {
  display: none;
}
